.editor {
  width: 100%;
  min-width: 100%;
  padding: 8px;
  cursor: text;
}
.editor-title {
  font-size: 64px;
}

.editor-title:empty:after {
  content: "New note...";
  color: rgba(255, 255, 255, 0.3);
}

.editor-body {
  font-size: 20px;
}
.editor-body:empty:nth-child(2):after {
  content: "Start typing here...";
  color: rgba(255, 255, 255, 0.3);
}
