.editor {
  width: 100%;
  min-width: 100%;
  padding: 8px;
  cursor: text;
}

.editor-body {
  font-size: 20px;
}

.editor-body:has(> br)::before {
  content: "New note...";
  color: var(--editor-outline);
}

.yana-editor-title {
  font-size: 4rem;
  cursor: text;
}

.yana-editor-title:empty::after {
  content: "New Note...";
  color: var(--editor-outline);
}
