@font-face {
  src: url("./assets/fonts/source-code-pro.ttf");
  font-family: "Source Code Pro";
}

@font-face {
  font-family: "Source Code Pro Italic";
  src: url("./assets/fonts/source-code-pro-italic.ttf");
}

:root {
  font-family: "Source Code Pro";
  color-scheme: light dark; /* Avisamos que soportamos ambos */
  
  /* Colores base */
  --yana-black: #000000;
  --yana-blue: #14213d;
  --yana-yellow: #fca311;
  --yana-gray: #e5e5e5;
  --yana-white: #ffffff;

  /* Variables principales */
  --background: var(--yana-white);
  --color: var(--yana-black);
}

/* Detectar si el sistema está en modo dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--yana-blue);
    --color: var(--yana-gray);
  }
}

/* Cuando el usuario elige manualmente el tema */
:root:has(option[id="theme-light"]:checked) {
  --background: var(--yana-white);
  --color: var(--yana-black);
}

:root:has(option[id="theme-dark"]:checked) {
  --background: var(--yana-blue);
  --color: var(--yana-gray);
}

:root:has(option[id="theme-system"]:checked) {
  /* Volvemos a respetar el sistema → no hace falta redefinir nada */
}

/* Estilos globales */
body {
  background: var(--background);
  color: var(--color);
  transition: background 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}