@font-face {
  src: url("./assets/fonts/source-code-pro.ttf");
  font-family: "Source Code Pro";
}

@font-face {
  font-family: "Source Code Pro Italic";
  src: url("./assets/fonts/source-code-pro-italic.ttf");
}

:root {
  font-family: "Source Code Pro";
  color-scheme: light dark;

  /* Colores base */
  --yana-black: #0a0a0a;
  --yana-blue: #14213d;
  --yana-yellow: #fca311;
  --yana-gray: #e5e5e5;
  --yana-white: #ffffff;

  /* Variables principales */
  --background: var(--yana-white);
  --color: var(--yana-black);

  /* Editor Text Color */
  --editor-outline: rgba(38, 38, 38, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--yana-black);
    --color: var(--yana-gray);
    --editor-outline: rgba(255, 255, 255, 0.4);
  }
}

body {
  background: var(--background);
  color: var(--color);
  transition: background 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}
